.body {
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  min-height: fit-content;
  direction: rtl;
  font-size: 1.6rem;
  transition: max-height 0.4s, max-width 0.4s, padding-right 0.4s;
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  max-width: 0;
  max-height: 0;
}
.body.active {
  max-width: 260px;
  max-height: 60vh;
}
.body::-webkit-scrollbar {
  width: 0.4rem;
  display: inside;
  background-color: transparent;
  display: none;
}
.body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: black;
}
.item {
  cursor: default;
  text-decoration: none !important;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
  left: 0;
  color: var(--main-color-500);
  direction: ltr;
  height: fit-content;
  transition: max-width 0.6s, max-height 0.4s, margin-right 0.4s, color 0.4s,
    left 0.6s, opacity 0.6s;
}
.item:hover {
  color: var(--main-color-100) !important;
}
.item:hover > .input {
  width: 18rem;
  opacity: 1;
  padding: 0 0.8rem;
  margin-right: 1rem;
}
.input {
  float: right;
  font-family: "Quicksand" !important;
  text-transform: capitalize;
  -webkit-text-stroke: 0.1px black;
  font-weight: normal;
  height: 2.2rem;
  border: 0;
  outline: none;
  position: sticky;
  left: 1rem;
  width: 0;
  opacity: 0;
  padding: 0;
  color: var(--main-color-100);
  transition: width 0.5s, opacity 0.5s, padding 0.5s, margin-right 0.5s;
  background-color: transparent;
  border-bottom: solid black 0.1rem;
}
.input:focus {
  width: 18rem;
  opacity: 1;
  padding: 0 0.8rem;
  margin-right: 1rem;
}
.inner {
  font-family: "Quicksand" !important;
  cursor: default;
  text-decoration: none !important;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
  left: 0;
  opacity: 0;
  max-width: 0;
  max-height: 0;
  margin-right: 0;
  color: var(--main-color-500);
  direction: ltr;
  height: fit-content;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-style: normal;
  white-space: pre-wrap;
  line-height: 1.6rem;
  transition: max-width 0.6s, max-height 0.4s, margin-right 0.4s, color 0.4s,
    left 0.6s, opacity 0.6s;
}
.inner:hover {
  color: var(--main-color-100) !important;
}
.inner.expanded {
  left: 1.2rem;
  opacity: 1;
  max-width: 25rem;
  max-height: 1.8rem;
  margin-right: 1.2rem;
}
.separator {
  height: 1px;
  width: 100%;
  backdrop-filter: invert(100%);
}
