.body {
  display: flex;
  font-size: 1.6rem;
  overflow: scroll;
  color: black;
  border-radius: 0.6rem;
  background-color: #0f2027;
  min-height: fit-content;
  direction: rtl;
  transition: max-height 0.4s, max-width 0.4s;
  box-shadow: inset 0px 0px 4px 2px #00000033;
  max-height: 0;
  max-width: 0;
}
.body::-webkit-scrollbar {
  width: 0.4rem;
  display: inside;
  background-color: transparent;
  display: none;
}
.body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: black;
}
.body.active {
  max-height: 60vh;
  max-width: 25rem;
}
.item {
  cursor: hand;
  text-decoration: none !important;
  display: flex;
  padding: 0.6rem;
  align-items: center;
  position: relative;
  direction: ltr;
  color: var(--main-color-800) !important;
  transition: max-width 0.6s, max-height 0.4s, margin-right 0.4s, color 0.4s,
    opacity 0.6s, scale 0.6s;
}
.item:hover {
  color: var(--main-color-100) !important;
}
.item.active {
  color: var(--main-color-400) !important;
}
.inner {
  cursor: hand;
  text-decoration: none !important;
  display: flex;
  padding: 0.6rem;
  align-items: center;
  position: relative;
  direction: ltr;
  color: inherit !important;
  transition: max-width 0.4s, max-height 0.4s, margin-right 0.4s, opacity 0.2s,
    transform 0.4s, scale 0.4s;
  font-family: "Quicksand" !important;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 1000;
  white-space: nowrap;
  line-height: 1.6rem;
  transform: translate(-180px, 0);
  opacity: 0;
  max-width: 0;
  max-height: 1.4rem;
  margin-right: 0;
  scale: 0;
}
.inner.show {
  transform: translate(1rem, 0);
  scale: 1;
  opacity: 1;
  max-width: 25rem;
  margin-right: 1rem;
}
