.container {
  position: sticky;
  top: 6rem;
  left: 0;
  height: 0;
  width: fit-content;
  z-index: 1;
}
.main {
  position: relative;
  display: flex;
  left: 0;
}
.main.floating {
  position: absolute;
}
.wrapper {
  display: flex;
  position: sticky;
}
.sidebar {
  border-radius: 0 0.6rem 0.6rem 0;
  backdrop-filter: blur(6px);
  border: solid transparent 2px;
  max-height: 70vh;
  min-width: fit-content;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  font-size: 2.8rem;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 100;
  transition: border 0.4s;
  position: relative;
}
.sidebar:hover {
  border: solid var(--main-color-400) 2px;
}
.sidebar::before {
  content: "";
  border-radius: 0 0.6rem 0.6rem 0;
  background-color: #0f202793;
  box-shadow: 2px 2px 4px 2px #00000033;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.body {
  display: flex;
  max-height: 64vh;
  width: max-content;
  transition: column-gap 0.4s;
  column-gap: 0;
}
.body.active {
  column-gap: 0.8rem;
}
.header {
  border-radius: 0.6rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
  height: 4vh;
  justify-content: space-around;
  width: 100%;
}
.footer {
  border-radius: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  height: 4vh;
  justify-content: space-around;
  align-items: center;
}
.item {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  padding: 0.2rem;
  align-items: center;
  position: relative;
  direction: ltr;
  color: var(--main-color-700);
  font-style: normal;
  transition: font-size 0.1s, transform 0.4s, max-width 0.6s, padding-right 0.4s,
    color 0.4s, left 0.6s, opacity 0.6s;
}
.item:hover {
  color: var(--main-color-300) !important;
}
.item.active {
  color: var(--main-color-300);
  transition: 0.4s;
}
.rotable {
  transition: 0.4s;
}
.rotable:hover {
  scale: 1.2;
}
.rotable.active {
  transform: rotate(90deg);
  color: var(--main-color-300) !important;
}
