.container {
  height: 14.8rem;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.slider {
  display: inline-flex;
  position: absolute;
  left: 0;
  height: 100%;
  width: auto;
  -moz-animation: sliding 20s infinite linear;
  -webkit-animation: sliding 20s infinite linear;
  animation: sliding 20s infinite linear;
}
.to_right {
  -moz-animation: slidingToRight 20s infinite linear;
  -webkit-animation: slidingToRight 20s infinite linear;
  animation: slidingToRight 20s infinite linear;
  left: -600%;
  direction: rtl;
}
.slide {
  height: 100%;
  flex: 0 0 auto;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes sliding {
  to {
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@keyframes slidingToRight {
  to {
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
}

@media screen and (min-width: 800px) {
  .to_right {
    left: -400%;
  }
}

@media screen and (min-width: 1000px) {
  .to_right {
    left: -300%;
  }
}

@media screen and (min-width: 1200px) {
  .to_right {
    left: -200%;
  }
}
